@import './../base/colours.scss';
@import './../base/variables.scss';
@import './../base/mixins.scss';

.dashboard__cards{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding: $padding_elemt 0;   
}

.cardDash{
    background-color: $neutral-2;
    border-radius: 1rem;
    box-shadow: rgb(0 0 0 / 10%) 0rem 0.25rem 0.375rem -0.0625rem, rgb(0 0 0 / 6%) 0rem 0.125rem 0.25rem -0.0625rem;
    min-width: 25rem;
    margin: $margin_elemt;
    padding: calc($padding_elemt*2) calc($padding_elemt/2) $padding_elemt;
    overflow-wrap: break-word;
    min-height: 14rem;
    
    .cardDash__container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.cardDash--icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $padding_elemt;
    border-radius: 1.5rem;
    margin-top: -10rem;
    box-shadow: rgb(0 0 0 / 14%) 0rem 0.25rem 1.25rem 0rem, rgb(64 64 64 / 40%) 0rem 0.4375rem 0.625rem -0.3125rem;
    
    &.uno{
        background: linear-gradient(195deg, $color-7, $color-8);
        // background: linear-gradient(195deg, $color-2-l, $color-3-l);
    }
    &.dos{
        background: linear-gradient(195deg, $color-1, $color-2);
        margin-top: -12rem;
    }

    svg{
        color: $neutral-2;
        margin: 0;
    }
}

.cardDash--description{
    width: 15rem;
    margin-top: -1rem;

    p{
        text-align: right;
    }
    p:first-of-type{
        margin-bottom: 1rem;
    }
    h3{
        color: $neutral-1;
        text-align: right;
    }
}